<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script src="/Static/JS/about.js"></script>
</head>

<body>

    <header id="header-id">
        <h1>Отзывы</h1>
        <p>На нашем сайте вы найдете трансляцию любого города!</p>
        <p>Здесь вы можете оставить свой отзыв. Желательно положительный 0_0.</p>
        <button id="aboutButtonStyle" onclick="addComment();">Оставить отзыв</button>
    </header>
        
    <main>
        <div class="userFeedback"></div>
    </main>
    <!--SIDEBAR-->
    <!--FOOTER-->

</body>
</html>