<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css" />
    <script src="/Static/JS/index.js"></script>
    <script>
      // checkAge();
      //  sessionLog();
      //  subOnMy();
    </script>
</head>
<body>
    <header id="header-id">
        <h1>LifeSpot — прямые трансляции с улиц.</h1>
        <p>Можете выбрать улицу для просмотра.</p>
        <input type="text" class="inputstyle" oninput="searchFilter();" size=50%>
    </header>
    <main>
        <div class="video-container">
            <iframe width="500" height="300" src="https://www.youtube.com/embed/h1wly909BYw?si=eq4-OOjeKLhIqWRJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3>Москва</h3>
        </div>
        <div class="video-container">
            <iframe width="500" height="300" src="https://www.youtube.com/embed/vsfEE30aiis?si=mT-MqFKtYfR3BrG7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3>Нью-Йорк</h3>
        </div>
        <div class="video-container">
            <iframe width="500" height="300" src="https://www.youtube.com/embed/JplMzss6_YE?si=RjTW8kPIiXGA7IcV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3>Лондон</h3>
        </div>
        <!--SIDEBAR-->
    </main>
    <!--FOOTER-->
</body>
</html>